<div id="<%= dom_id collection %>">
  <p>
    <strong>Name:</strong>
    <%= collection.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= collection.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collection.user_id %>
  </p>

</div>
