<!-- <h1 class="title">Public Domain</h1>
<p class="subtitle">Tool to store and read public domain materials</p> -->

<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item">
            <span class="icon">
                <%= link_to "", root_path, class: "fas fa-landmark fa-2x" %>
            </span>
          </span>
          <span class="navbar-burger" data-target="landingMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="landingMenu" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <span class="button">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>
                <%= link_to "Log in", user_session_path, class: "is-dark is-inverted" %>
                </span>
              </span>
            </span>
            <span class="navbar-item">
              <span class="button">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>
                <%= link_to "Sign up", new_user_registration_path, class: "is-dark is-inverted" %>
                </span>
              </span>
            </span>
             <span class="navbar-item">
              <span class="text">
                <span>
                <%= link_to "About", about_path, class: "is-dark is-inverted" %>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
      <p class="title">
        Public Domain
      </p>
      <p class="subtitle">
        Tool to store and read public domain materials
      </p>
    </div>
  </div>
</section>